@tailwind base;
@tailwind components;
@tailwind utilities;


.loginbackground {
  @apply bg-gradient-to-b from-blue-500 via-blue-600 to-blue-700 border border-blue-500 
}

.logo{
  @apply text-6xl font-extrabold text-white;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
.donut-chart {
  border-radius: 40%;
}